
<!--=============START FOOTER============-->

<footer>
	<div class="container-fluide d-flex flex-column justify-content-center footer-bg">
		<div class="d-flex justify-content-around pt-4">
			<div>
				<a class="navbar-brand" href="{{ path('app_home') }}">
					<img src="{{ asset('assets/images/logos/Logo bg_noir.png') }}" alt="ECORIDE" class="logoheader">
				</a>
			</div>
			<div class="footer-liens d-flex flex-column">
				<a href="{{ path('app_contact') }}">contact@ecoride.fr</a>
				<a href="{{ path('app_mention') }}">Mention Légal</a>
			</div>
		</div>
		<div class="footer-legal p-2">
			<p>
				-
				{{ "now"|date("Y") }}
				ecoride . tous droits réservés.</p>
		</div>
	</div>
</footer>
