<!--=== START Header du Site ===-->

<header class="fixed-top">
	<nav class="navbar navbar-expand-lg navbar-light bg-white">
		<div class="container">
			<a class="navbar-brand" href="{{ path('app_home') }}">
				<img src="{{ asset('assets/images/logos/Logo.png') }}" alt="ECORIDE" class="logoheader">
			</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
				<ul class="navbar-nav align-items-end">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_covoiturage') }}">Covoiturage</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
					</li>
					{% if app.user %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								{% if app.user.profilPicture %}
										<img src="{{ asset('uploads/profile_pictures/' ~ app.user.profilPicture) }}" alt="Photo de profil" class="rounded-circle me-2" >
								{% else %}
										<img src="{{ asset('assets/images/default-profile.png') }}" alt="Photo de profil par défaut" class="rounded-circle me-2">
								{% endif %}
								{{ app.user.firstname }}
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								{% if is_granted('ROLE_ADMINISTRATEUR') %}
									<li><a class="dropdown-item" href="{{ path('app_admin') }}">Administration</a></li>
								{% elseif is_granted('ROLE_STAFF') %}
									<li><a class="dropdown-item" href="{{ path('app_staff') }}">Espace Staff</a></li>
								{% else %}
									<li><a class="dropdown-item" href="{{ path('app_profile') }}">Mon Profil</a></li>
								{% endif %}
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
							</ul>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_home') }}" data-bs-toggle="modal" data-bs-target="#loginModal">Connexion</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	<div class="linegrp">
		<div class="line"></div>
	</div>
</header>


<!--=== END Header du Site ===-->


